html {
  scroll-behavior: smooth;
}

body {
  margin: auto 0;
  font-family: "Raleway", sans-serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.main-nav {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  height: 50px;
  font-size: 18px;
  padding-right: 10%;
  list-style: none;
  background-color: white;
}

li {
  display: flex;
  padding-left: 8%;
}

a {
  color: gray;
}
a:link {
  text-decoration: none;
}
a:hover {
  color: black;
  transition: all 0.15s linear;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: minmax(350px, 1fr);
  grid-template-rows: auto;
}

.twocolumn {
  display: grid;
  padding-top: 30px;
  padding-bottom: 30px;
  row-gap: 40px;
  column-gap: 40px;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr;
  padding-left: 10%;
  padding-right: 10%;
  grid-template-columns: 1fr 1fr;
}

.threecolumn {
  display: grid;
  padding-top: 30px;
  padding-bottom: 30px;
  row-gap: 40px;
  column-gap: 40px;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr;
  padding-left: 10%;
  padding-right: 10%;
  grid-template-columns: 1fr 1fr 1fr;
}

.fourcolumn {
  display: grid;
  padding-top: 30px;
  padding-bottom: 30px;
  row-gap: 40px;
  column-gap: 40px;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr;
  padding-left: 10%;
  padding-right: 10%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.shadow {
  box-shadow: 0px 5px 15px black;
}

.graybg {
  background-color: whitesmoke;
}

.name {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-left: 9.7%;
  font-size: 70px;
  font-weight: lighter;
  height: 250px;
}

.title {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 10%;
  font-size: 30px;
  font-weight: 200;
  color: gray;
  height: 200px;
}

.centerimage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  height: auto;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.projectbanner {
  display: block;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 0px;
  transform: scale(1, 1);
  transition: all 0.15s ease-in-out;
}
.projectbanner:hover {
  display: block;
  line-height: 0px;
  transform: scale(1.01, 1.01);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 5px 15px black;
}

.skillicons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-template-rows: 1fr;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
  padding-bottom: 30px;
  row-gap: 40px;
  column-gap: 100px;
  justify-items: center;
  align-items: center;
}

.aboutme {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding-left: 10%;
  padding-right: 10%;
}

.about-pic {
  display: flex;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-copy {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: normal;
}

.brands {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.btn {
  background-color: gray;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}
.btn:hover {
  background-color: darkgray;
}

.gamebanner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: auto;
  padding: 50px 50px 50px 50px;
}

.dvcolor {
  background-color: #af010e;
}

.gbcolor {
  background-color: #009385;
  padding: 50px 50px 0px 50px;
}

.llcolor {
  background-color: #d35934;
  padding: 50px 50px 0px 50px;
}

.game-title {
  margin-top: 50px;
  margin-left: 9.5%;
  font-size: 80px;
  font-weight: 200;
}

.details {
  padding-left: 10%;
  padding-right: 10%;
}

.body-title {
  display: flex;
  align-items: flex-end;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: normal;
  color: gray;
}

.body-copy {
  padding-right: 20%;
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: normal;
}

.coreloop-images {
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-items: center;
  align-items: center;
  column-gap: 15px;
}

/* MOBILE SITE */
@media only screen and (max-width: 900px) {
  .main-nav {
    justify-content: flex-start;
  }

  li {
    padding-left: 2%;
    padding-right: 2%;
  }

  .hero {
    height: auto;
  }

  .name {
    padding-top: 30px;
    padding-left: 1.5%;
    font-size: 50px;
  }

  .title {
    padding-left: 2.5%;
    font-size: 20px;
    font-weight: normal;
  }

  .centerimage {
    padding-left: 3%;
    padding-right: 3%;
  }

  .projectbanner {
    margin-left: 0%;
    margin-right: 0%;
    line-height: 0px;
  }

  .projectbanner:hover {
    transform: scale(1, 1);
    box-shadow: 0px 0px 0px black;
  }

  .skillicons {
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 30px;
    padding-bottom: 30px;
    column-gap: 40px;
  }

  .aboutme {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
  }

  .about-copy {
    padding-left: 0%;
    padding-right: 0%;
  }

  .gamebanner {
    padding: 10px 10px 10px 10px;
  }

  .gbcolor {
    padding: 10px 10px 0px 10px;
  }

  .llcolor {
    padding: 10px 10px 0px 10px;
  }

  .game-title {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 40px;
  }

  .details {
    padding-left: 3%;
    padding-right: 3%;
  }

  .body-copy {
    padding-right: 0%;
  }

  .twocolumn {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 30px;
    padding-bottom: 30px;
    row-gap: 10px;
    column-gap: 10px;
  }

  .threecolumn {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 10px;
    column-gap: 10px;
  }

  .fourcolumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 30px;
    padding-bottom: 30px;
    row-gap: 10px;
    column-gap: 10px;
  }

  .coreloop-images {
    padding-left: 3%;
    padding-right: 3%;
    column-gap: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
